body {
    margin: 0;
  height: 100%;
  width: 100%;
 padding:0 ;
box-sizing: border-box;

   background:#FCD029;
 

    align-items: center;
  }

.main{
    height: 100%;
    width: 100%;
 
}
.box{
background: #19baff;


    height: 50vh;
    /* border: 1px solid red; */
    width: 20%;
    display: inline-flexbox;

    align-items: center;
justify-items: center;

margin:  10% 35% ;
border-radius: 15px 15px 15px 15px;

box-shadow: 1px 0px 10px 7px #EAF4F5;
  
}
h1{
    text-align: center;
    background: #EAf4ea;
margin: 10px 0;
}
input{
width: 60%;
height: 2rem;

align-items: center;
border: none;
border-radius: 5px 5px;

margin: 0 25px;

}
input::placeholder{
    text-align: center;
}
button{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 25px;
    border: none;
    background: #fcbd29;
  

    cursor: pointer;
    font-size: 20px;

}
button:hover{
    background: rgb(86, 240, 30);
}
ol{
    margin-top: 30px;
}
ol li{
    text-align: left;
    font-size:20px ;
    min-height: 40px;
    display: flex;
    align-items: center;
    color:#000000;
}
.todo_style{
    display: flex;
    flex-direction: row;
    align-items: left;

}
  .bi-x-circle-fill{
    margin:10px ;
    width: 20px;
    font-size: 25px;
    font-weight: 400;
    height: 20px;
    display: flex;
justify-content: center;
align-items: center;
background-color: rgb(39, 32, 32);
border-radius: 50%;
color: #00ff44;
/* margin: 0 15px 0 35px; */
}
.bi-x-circle-fill:hover{
  color: rgb(236, 224, 224);
  background: rgb(255, 27, 27);
}