body{
    background: url("../img/html-color-codes-color-tutorials-hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: fixed;
}
