/* body {
    margin: 0;
  height: 100%;
  width: 100%;
    padding:0 ;
    box-sizing: border-box;
     background: rgb(222, 229, 236);
  
  } */
  
/* h1{
    align-items: center;
     border: 2px solid red; 
    width: 300px; 
    width: 100%;
    height: 2.5rem;
    display: flex;
    flex-direction: column;
    border: 1px solid red; 
    margin: 0 4%;

} */
/* div{
  background: #ffb81f;
  height: 100vh;
  width: 100%;
display: flex;
flex-direction: column;
align-items: center;
  justify-content: center;
}
input{
border: none;
  height: 4%;

  width: 50%;
padding: 5px 5px;
text-align: center;

} */

/* button{
margin: 3%  45%;
height: 50px;
width: 100px;
background: #ffa2a2;
border-radius: 10px 10px;
box-shadow:  2px 2px 2px;
border: 2px solid #ffae45;
cursor: pointer;

}  */
 
